@use '../colors';

.fd-deprecated {
  text-transform: uppercase;
  font-size: x-small;
  padding: 1px 3px;
  background: darkmagenta;
  color: colors.$white;
  font-weight: bold;
  margin-left: 5px;
}


[data-theme="dark"] {
  .fd-deprecated {
    background: magenta;
    color: colors.$black;
  }
}

