.fd-theme-toggle {
  margin: 0 var(--spacing-05);

  input[type="checkbox"] {
    display: none;
  }
}

.fd-theme-toggle__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 44px;
  height: 35px;
  background-color: var(--ui-elevation-background-01);
  transition: transform 1s ease;
  position: relative;
  cursor: pointer;
}

.fd-theme-toggle__ball {
  width: 20px;
  height: 20px;
  background-color: var(--primary-dark-color);
  transition: transform 1s ease;
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--primary-light-color);
}

.fd-theme-toggle__scenary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: transform 1s ease;

  .svg {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;

    svg {
      width: 16px;
    }
  }
}
